extends inc/base

block page
	.page.charts
		.mb-modal.hide
			.container
				.row
					.col-xs-10.col-xs-offset-2
						img.img-responsive(src="img/share.png")
		.row
			.col-xs-10.col-xs-offset-1
				.row.pd-xs
					mixin b3(url, text)
						.col-xs-4
							a.btn.btn-danger.btn-block(href=url)
								span.text-white= text
					mixin b2(url, text)
						.col-xs-6
							a.btn.btn-danger.btn-block(href=url)
								span.text-white= text

					+b3("index.html", "返回首页")
					+b3("rule.html", "游戏规则")
					+b3("topcharts.html", "英雄榜")
		.game-box(data-totle-time=15)
			.score.hide 0
			.spoon-l
			.spoon-r
			.rb-fr
			.ctr-l
			.ctr-r


block lastjs
	script.
		$('.game-box').on('gameover', function(e, score){
				$('.score').text(score)
				// score = 得分
				// alert(score);
			})