extends inc/base

block inpage
	.phone
		.white-block-md
		.row
			.col-xs-8.col-xs-offset-2
				img.img-responsive(src="img/phone-title.png")
		.white-block-lg
		.text-center
			p 羊咩咩想要你的手机号，
			p 方便日后再约，
			p 你可以给她吗？
		
		.white-block-md
		form
			.form-group.row
				.col-xs-10.col-xs-offset-1
					input.form-control.input-lg(placeholder="请输入您的手机号")
			.white-block-md
			
			.row
				.col-xs-8.col-xs-offset-2
					button.btn.btn-block.btn-lg.btn-danger(type="submit") 拿好不谢 !
					a.btn.btn-block.btn-lg.btn-default(href="#") 残忍拒绝并退出游戏