extends inc/base

block page
	.page.shared
		.row
			.col-xs-4.col-xs-offset-4
				img.img-responsive(src="img/logo.png")

		.content.text-center
			.text-danger.slogan
				p 您的好友 马小跳 
				p 邀请您助力汤圆挑战赛！
			.white-block-md
			.row
				.col-xs-8.col-xs-offset-2
					a.btn.btn-block.btn-lg.btn-danger(href="game.html") 慷慨相助
			.white-block-xs
			.row
				.col-xs-8.col-xs-offset-2
					a.btn.btn-block.btn-lg.btn-default(href="#") 
						small 残忍拒绝 我要挑战