doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1") 
		block title
			title xx抢汤圆
		meta(name="description",content="")
		meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel="stylesheet",href="css/bootstrap.min.css")
		link(rel="stylesheet",href="css/main.css")
	body
		include mixin.jade
		block page
			.page.bg-city
				block inpage
				block footer
					.copyright.text-center.text-muted © 嫩牛五方

		script(src="js/vendor/jquery-1.11.1.min.js")
		//- script(src="js/TweenMax.min.js")
		//- script(src="js/zepto.min.js")
		block js
		script(src="js/main.js")
		block lastjs
		//- script(src="http://192.168.31.193:1337/livereload.js")